/*? ACTION BAR */

.action-bar {
  position: relative;
  background-color: var(--primary);
  color: var(--secondary);
  height: 240px;
}
.action-bar .flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-bar .container div p {
  width: 232px;
  padding: 12px 0px;
  height: 52px;
  font-size: 16px;
  text-align: left;
}
.action-bar .container div h1 {
  width: 95px;
  height: 28px;
  font-size: 28px;
  text-align: left;
}
.action-bar .label {
  position: absolute;
  height: 40px;
  padding: 10px 0;
  z-index: 5;
  color: var(--light);
  background-color: var(--secondary);
  width: 160px;
  font-size: 14px;
  text-align: center;
  transform: translateY(-15px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
