/*? BANNER */
.banner {
  height: 672px;
  background: url('../img/Desktop-Home/annie-spratt-background.png')
    center/cover;
}
.banner .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-content {
  width: 544px;
  font-size: 18px;
  height: 416px;
  padding: 76px 64px;
  background-color: var(--light);
}

.banner .banner-content h1 {
  font-size: 44px;
  color: var(--secondary);
}

.banner .banner-content p {
  font-size: 16px;
  padding-top: 32px;
  text-decoration: underline;
  color: var(--secondary);
}

.banner .banner-content .label {
  transform: translateY(-250%);
  position: absolute;
  font-size: 14px;
  letter-spacing: 0.56px;
  color: var(--light);
  text-align: center;
  padding: 10px 0;
  background-color: var(--secondary);
  width: 160px;
  height: 40;
}

.banner .banner-slogan {
  align-self: center;
}
.banner .banner-slogan h1 {
  width: 296;
  height: 224;
}

.banner .banner-slogan span {
  display: block;
  font-size: 72px;
  font-weight: 400;
  font-family: flood-std, sans-serif;
  color: var(--light);
}
