/*? DID YOU KNOW */

.didyouknow {
  height: 1279px;
  background: url('../img/Desktop-Home/did-you-know-background.png')
    center/cover no-repeat;
}

.didyouknow .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.didyouknow .left {
  margin-top: 132px;
  align-self: flex-start;
}

.didyouknow .left h1 span {
  color: var(--light);
  font-family: flood-std, sans-serif;
  font-weight: 400;
  display: block;
  font-size: 72px;
}

.didyouknow .left button {
  border: none;
  width: 160px;
  height: 48px;
  font-size: 18px;
  margin-top: 22px;
  font-weight: bold;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--secondary);
}

.didyouknow .right {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.didyouknow .right .post {
  padding-left: 64px;
  width: 544px;
  height: 232px;
  background: var(--light) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.didyouknow .right .post {
  padding-left: 64px;
  width: 544px;
  height: 232px;
  background: var(--light) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.didyouknow .right .post {
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.didyouknow .right .post > div h1 {
  width: fit-content;
  font-size: 44px;
  height: 44px;
}

.didyouknow .right .post > div p {
  padding: 16px 0px;
  width: 336px;
  font-size: 20px;
  height: 68px;
}

.didyouknow .right .post .social-icons {
  padding-right: 12px;
}

.didyouknow .right .post .social-icons > div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
  margin-right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
.didyouknow .right .label {
  position: absolute;
  margin-left: 10px;
  top: 4%;
  left: 10%;
  height: 40px;
  padding: 10px 0;
  color: var(--light);
  background-color: var(--secondary);
  width: 160px;
  font-size: 14px;
  text-align: center;
}
