.donation-nav {
  color: var(--secondary);
  height: 120px;
}

.donation-nav .container {
  height: 100%;
  display: flex;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
}

.donation-nav h1 span {
  display: block;
  font-size: 1.75rem;
  text-align: center;
}

main {
  min-height: 1124px;
  background: url('../img/annie-spratt-donation.png') center/cover no-repeat;
}
main .wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 1200px;
  padding: 4em 1em;
  margin: 0 auto;
}

main .wrapper .form-section {
  width: 640px;
  min-height: 1096px;
  background-color: var(--secondary);
}

main .wrapper .slogan h1 {
  width: 384px;
  height: 362px;
}

main .wrapper .slogan span {
  font-size: 4.5rem;
  color: var(--light);
  font-family: flood-std;
  font-weight: normal;
  display: block;
}

main .wrapper .form-section .form-wrapper {
  width: 80%;
  color: var(--light);
  margin: 4em auto;
}

main .input-row {
  margin-bottom: 1.5em;
}
main label {
  display: block;
  font-size: 0.875rem;
  height: 14px;
  text-align: left;
  letter-spacing: 0.56px;
}

main input {
  background: none;
  border: none;
  outline: none;
  color: var(--light);
  padding: 1.3em 0;
  border-bottom: 1px solid var(--primary);
}

div.row-1 {
  display: flex;
  gap: 3em;
  margin: 2em 0;
  margin-bottom: 1em;
}
div.row-1 .firstname,
div.row-1 .lastname {
  flex-grow: 1;
}
div.row-1 .firstname input,
div.row-1 .lastname input {
  width: 100%;
  height: 20px;
}

main form h1.row-heading {
  font-size: 1.75rem;
  min-height: 59px;
  text-align: left;
}

div.row-2 .street input {
  width: 100%;
  height: 20px;
}

div.row-2 .street label {
  height: 14px;
  text-align: left;
  letter-spacing: 0.56px;
}

div.row-3 {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  justify-content: center;
}

div.row-3 .city {
  flex-grow: 1;
}

div.row-3 .city input {
  width: 100%;
}

div.row-3 input {
  width: 100%;
  height: 20px;
}
div.row-3 .state select {
  background: inherit;
  outline: inherit;
  width: 96px;
  border: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0.7em 0px;
  border-bottom: 1px solid var(--primary);
}
div.row-3 .state select {
  color: var(--light);
  background: var(--secondary);
}

div.row-4 {
  height: 64px;
}

div.row-4 input {
  width: 100%;
  height: 20px;
}
div.row-5 {
  margin: 2em 0;
  margin-bottom: 1em;
}
div.row-5 input {
  width: 100%;
  height: 20px;
}

div.row-6 {
  display: flex;
  gap: 1rem;
  height: 65px;
}

div.row-6 input {
  width: 100%;
  height: 20px;
}

div.row-7 {
  display: flex;
  margin-top: 7em;
  justify-content: space-between;
}

div.row-7 a {
  color: var(--primary);
  text-decoration: underline;
}

div.row-7 button {
  cursor: pointer;
  color: var(--secondary);
  background-color: var(--primary);
  font-size: 1.375rem;
  padding: 0 1em;
  width: 256px;
  height: 56px;
  font-weight: bold;
  border-radius: 4.5em;
}
