footer {
  height: 370px;
  background-color: var(--light);
  color: var(--secondary);
}
footer .container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

footer li {
  list-style-type: none;
}
footer ul {
  height: 115px;
  width: 126px;
  margin: 0 33px;
}

footer ul li {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

footer ul li:nth-of-type(1) {
  margin-bottom: 10px;
}

footer ul li:nth-of-type(2) {
  margin-top: 12px;
}

footer .container > div > h1 {
  width: 192px;
  height: 81px;
  font-size: 22px;
}

footer .container > h1 span {
  display: block;
  color: var(--secondary);
  font-family: flood-std;
  font-weight: 400;
  font-size: 44px;
}
