:root {
  --primary: #c1f7d5;
  --secondary: #354463;
  --dark: #00000029;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

img {
  max-width: 100%;
  height: auto;
}

#firstname-errmsg,
#lastname-errmsg,
#street-errmsg,
#city-errmsg,
#state-errmsg,
#zipcode-errmsg,
#emailaddress-errmsg,
#creditcard-errmsg,
#expmonth-errmsg,
#expyear-errmsg,
#security-errmsg {
  margin-top: 0.3em;
  /* width: fit-content; */
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.hide {
  display: none;
}
