/* 
  ##Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .stories .container .left {
    transform: translateX(-80%);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .container ul {
    order: 1;
  }
  .navbar .container ul li:nth-of-type(1) a {
    padding-left: 0;
  }
  .navbar .container {
    padding: 0 48px;
  }

  .banner {
    height: 672px;
    background: url('../img/tablet/annie-spratt-135307-unsplash.png')
      center/cover !important;
  }
  .overlay .banner .container {
    flex-direction: column-reverse;
  }
  .overlay .banner .container .banner-slogan {
    align-self: flex-start;
  }
  .overlay .banner .container .banner-content {
    width: 640px;
    height: 309px;
    margin-bottom: 32px;
  }
  .overlay .banner .container .banner-content h1 {
    font-size: 36px;
  }
  .overlay .banner .container .banner-content p {
    font-size: 16px;
  }
  #action-bar {
    height: 336px;
  }
  #action-bar .container {
    justify-content: space-evenly;
  }

  #action-bar .container div h1 {
    width: 100px;
    height: 22px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }

  #action-bar .container div p {
    width: 256px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }

  #mission-banner {
    height: 1550px;
  }

  #mission-banner .container .posts-wrapper {
    margin-top: 80px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #mission-banner .container h1 {
    margin-bottom: 150px;
  }

  #mission-banner .container .posts-wrapper .postcard {
    width: 640px;
    height: 280px;
  }
  #mission-banner .postcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #mission-banner .postcard .img {
    width: 288px;
    height: 201px;
  }

  #mission-banner .postcard h1 {
    width: 144px;
    height: 50px;
    margin: 12px 32px;
    padding-right: 0;
    height: 50px;
    text-align: left;
  }

  #mission-banner .postcard p {
    width: 246px;
    margin: auto;
    order: 4;
    transform: translate(30px, -90px);
    height: 112px;
    text-align: left;
    letter-spacing: -0.16px;
  }
  #mission-banner .postcard .btn {
    width: 156px;
    height: 40px;
    border-radius: 100px;
    transform: translateX(120px);
  }

  #didyouknow {
    height: 833px;
    background: url('../img/tablet/Did\ you\ know\ background.png') center/cover
      no-repeat;
  }
  #didyouknow .container {
    justify-content: space-around;
  }

  #didyouknow .left h1 span {
    font-size: 44px;
  }

  #didyouknow .left button {
    width: 156px;
    font-size: 18px;
    height: 40px;
    border-radius: 100px;
  }

  #didyouknow .right .post {
    padding-left: 42px;
    margin-left: 10px;
    width: 384px;
    height: 152px;
  }

  #didyouknow .right .post > div h1 {
    font-size: 36px;
    width: fit-content;
    height: 36px;
  }

  #didyouknow .right .post > div p {
    font-size: 16px;
    width: 224px;
    height: 44px;
  }

  #stories {
    height: 1400px;
  }

  #stories .right .story-img {
    width: 576px;
    height: 568px;
  }
  #stories .right .story-img img {
    height: 100%;
    width: 100%;
  }

  #stories .container {
    justify-content: center;
  }

  #stories .container .left {
    transform: translate(10px, 400px);
  }
  #stories .container .left div {
    width: 576px;
    height: 287px;
  }

  #stories .container .left div h1 {
    width: 489px;
    height: 106px;
    font-size: 22px;
    text-align: left;
  }
  #stories .container .left div p {
    font-size: 14px;
    text-align: left;
    height: 14px;
  }

  #take-actions {
    height: 1325px;
  }

  #take-actions .container > h1 {
    width: 518px;
    height: 90px;
    font-size: 44px;
    text-align: left;
  }

  #take-actions .img {
    width: 288px;
    height: 288px;
  }

  #take-actions .img img {
    height: 100%;
    width: 100%;
  }

  #take-actions .container .top .right h1 {
    width: 216px;
    height: 100px;
    text-align: left;
    font-size: 28px;
  }

  #take-actions .container .bottom .left h1 {
    width: 286px;
    height: 64px;
    text-align: left;
    font-size: 28px;
  }

  #take-actions .container .top .right p {
    width: 280px;
    height: 170px;
    font-size: 16px;
  }
  #take-actions .container .bottom .left p {
    width: 292px;
    height: 164px;
    font-size: 16px;
  }

  #take-actions .container .right {
    padding: 0px 40px;
  }

  #take-actions .container .left {
    padding: 0px 40px;
  }

  #take-actions .container .img img {
    min-width: 300px;
  }

  #subscribe {
    height: 255px;
  }
  #subscribe .container {
    justify-content: center;
  }

  #footer {
    height: 432px;
  }
  #footer .container {
    justify-content: space-evenly;
  }
  /* DONATION FORM */

  .donation-nav {
    height: 112px;
  }
  .donation-nav h1 span {
    font-size: 1.375rem;
  }

  main {
    min-height: 1296px;
    background: url('../img/annie-spratt-donation.png') center/cover no-repeat;
  }
  main .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  main .wrapper .slogan h1 {
    text-align: center;
    width: 512px;
    height: 106px;
  }
  main .wrapper .slogan span {
    font-size: 2.75rem;
    display: inline-block;
  }
  main .wrapper .form-section {
    width: 640px;
    height: 1016px;
    background-color: var(--secondary);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  #navbar .container ul {
    order: 1;
  }
  #navbar .container ul li:nth-of-type(1) a {
    padding-left: 0;
  }
  #navbar .container {
    padding: 0 48px;
  }
  #banner {
    height: 672px;
    background: url('../img/tablet/annie-spratt-135307-unsplash.png')
      center/cover !important;
  }
  .overlay #banner .container {
    flex-direction: column-reverse;
  }
  .overlay #banner .container .banner-slogan {
    align-self: flex-start;
  }
  .overlay #banner .container .banner-content {
    width: 500px;
    height: 240px;
    margin-bottom: 32px;
  }
  .overlay #banner .container .banner-content h1 {
    font-size: 22px;
    text-align: center;
  }
  .overlay #banner .container .banner-content p {
    font-size: 14px;
    text-align: center;
  }
  .overlay #banner .container .label {
    transform: translate(105px, -95px);
  }

  #action-bar {
    height: 328px;
  }
  #action-bar .container {
    justify-content: space-evenly;
  }
  #action-bar .container div {
    min-width: 200px;
  }
  #action-bar .container div h1 {
    width: 82px;
    height: 18px;
    text-align: left;
  }

  #action-bar .container div p {
    width: 144px;
    height: 62px;
    font-size: 14px;
    text-align: left;
  }
  /** MISSION BANNER  */
  #mission-banner {
    height: 1550px;
  }

  #mission-banner .container .label {
    margin: 16px auto;
  }

  #mission-banner .container > h1 {
    font-size: 32px;
    text-align: center;
  }
  #mission-banner .container .posts-wrapper .postcard {
    width: 540px;
    height: 280px;
  }
  #mission-banner .postcard h1 {
    font-size: 18px;
    width: 144px;
    height: 50px;
    margin: 12px 32px;
    padding-right: 0;
    height: 50px;
    text-align: left;
  }

  #mission-banner .postcard .para {
    width: 246px;
    margin: auto;
    order: 4;
    font-size: 14px;
    transform: translate(70px, -90px);
    height: 112px;
    text-align: left;
    letter-spacing: -0.16px;
  }
  #mission-banner .postcard .btn {
    width: 156px;
    height: 40px;
    border-radius: 100px;
    transform: translateX(120px);
  }
  #mission-banner .container .posts-wrapper {
    margin-top: 80px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #mission-banner .container h1 {
    margin-bottom: 150px;
  }

  #mission-banner .postcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #mission-banner .postcard .img {
    width: 288px;
    height: 201px;
  }

  #mission-banner .postcard h1 {
    width: 144px;
    height: 50px;
    margin: 12px 32px;
    padding-right: 0;
    height: 50px;
    text-align: left;
  }

  #mission-banner .postcard p {
    width: 246px;
    margin: auto;
    order: 4;
    transform: translate(30px, -90px);
    height: 112px;
    text-align: left;
    letter-spacing: -0.16px;
  }
  #mission-banner .postcard .btn {
    width: 156px;
    height: 40px;
    border-radius: 100px;
    transform: translateX(120px);
  }

  #didyouknow {
    height: 1133px;
    background: url('../img/mobile/Did\ you\ know\ background377x1008.png');
  }
  #didyouknow .container {
    flex-direction: column;
    justify-content: space-around;
  }
  #didyouknow .container .left {
    align-self: center;
  }

  #didyouknow .left h1 span {
    font-size: 44px;
  }
  #didyouknow .container .right .label {
    transform: translate(80px, -30px);
  }

  #didyouknow #dykcontainer .left button {
    margin-bottom: 40px;
    width: 156px;
    font-size: 18px;
    height: 40px;
    border-radius: 100px;
  }

  #didyouknow .right .post {
    padding-left: 42px;
    margin-left: 10px;
    width: 384px;
    height: 152px;
  }

  #didyouknow .right .post > div h1 {
    font-size: 36px;
    width: fit-content;
    height: 36px;
  }

  #didyouknow .right .post > div p {
    font-size: 16px;
    width: 224px;
    height: 44px;
  }

  /* Stories */
  #stories .container .left .story-content {
    width: 505px;
    transform: translate(564px, 400px);
  }
  #stories .container {
    justify-content: center;
  }

  #stories {
    height: 1280px;
  }
  #stories .container .right #label {
    left: 34%;
  }
  #stories .container .left button {
    transform: translate(750px, 400px);
  }

  #stories .container {
    justify-content: center;
  }

  #stories .container .left div {
    width: 576px;
    height: 287px;
  }

  #stories .container .left div h1 {
    width: 489px;
    height: 106px;
    font-size: 22px;
    text-align: left;
  }
  #stories .container .left div p {
    font-size: 14px;
    text-align: left;
    height: 14px;
  }
  #take-actions {
    height: 2300px;
  }
  #take-actions .container > h1 {
    text-align: center;
    width: 312px;
    height: 186px;
    margin: 32px auto;
    font-size: 44px;
  }
  #take-actions .container .top {
    justify-content: center;
    align-items: center;
  }
  #take-actions .container .bottom {
    justify-content: center;
    align-items: center;
  }
  #take-actions .container .top .right h1 {
    height: 66px;
    width: 313px;
    margin: auto;
    font-size: 22px;
    text-align: center;
  }
  #take-actions .container .top .right p {
    width: 313px;
    height: 128px;
    margin: auto;
    font-size: 14px;
    text-align: center;
  }
  #take-actions .container .bottom .left h1 {
    width: 313px;
    height: 66px;
    margin: auto;
    font-size: 22px;
    text-align: center;
  }

  #take-actions .container .top .right .label {
    transform: translateY(-600px);
    margin: 0 auto;
  }
  #take-actions .container .bottom .left .label {
    transform: translateY(-600px);
    display: block;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }

  #take-actions .container .bottom .left p {
    width: 313px;
    height: 128px;
    margin: auto;
    font-size: 14px;
    text-align: center;
  }

  #take-actions .container .top {
    flex-direction: column;
  }
  #take-actions .container .bottom {
    flex-direction: column-reverse;
  }
  #take-actions .top .right button,
  #take-actions .bottom .left button {
    display: block;
    margin: 22px auto;
  }

  #take-actions .img {
    margin-top: 70px;
  }
  #subscribe .container {
    justify-content: center;
  }
  #subscribe {
    height: 216px;
  }

  #subscribe div h1 {
    height: 78px;
    width: 323px;
    text-align: center;
    margin: auto;
    font-size: 22px;
  }

  #foot .container {
    min-height: 600px;
    justify-content: space-around;
  }
  #footer {
    height: 600px;
  }
  #footer > h1 {
    justify-self: flex-end;
  }
  /* DONATION */
  main .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .donation-nav {
    height: 85px;
  }
  .donation-nav h1 span {
    font-size: 1.15rem;
  }

  main {
    min-height: 985px;
  }
  main .wrapper {
    overflow: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  main .wrapper .slogan h1 {
    width: 312px;
    height: 106px;
  }

  main .wrapper .slogan span {
    font-size: 2rem;
    display: inline-block;
  }
  main .wrapper .form-section {
    margin: 0 auto;
    width: 450px;
    height: 816px;
  }
  main form h1.row-heading {
    font-size: 1.375rem;
    height: 27px;
  }
  main label {
    font-size: 0.6875rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
  /* NAV */

  #navbar {
    height: 200px;
  }
  #navbar .container {
    justify-content: space-evenly;
  }

  #navbar .container ul {
    letter-spacing: -0.14px;
    height: 74px;
    padding-top: 16px;
    flex-direction: column;
    min-width: 106px;
    justify-content: space-between;
  }
  #navbar .container ul li {
    padding: 4px 0px;
  }
  #navbar .container h1 {
    font-size: 18px;
    width: 125px;
    height: 40px;
  }

  #navbar .container div a {
    display: inline-block;
    text-align: center;
    width: 312px;
  }

  /* Banner */
  #banner {
    height: 592px;
    background: url('../img/mobile/annie-spratt-376x592.png') top/cover
      no-repeat;
  }
  .overlay #banner .container {
    flex-direction: column-reverse;
  }
  .overlay #banner .container .banner-slogan {
    align-self: flex-start;
  }
  .overlay #banner .container .banner-slogan h1 {
    margin-top: 32px;
  }
  .overlay #banner .container .banner-slogan h1 span {
    font-size: 44px;
  }
  #overlay #banner .container .banner-content {
    width: 312px;
    padding: 45px 10px;
    height: 240px;
    margin-bottom: 32px;
  }
  .overlay #banner .container .banner-content h1 {
    font-size: 22px;
    text-align: center;
  }
  .overlay #banner .container .banner-content p {
    font-size: 14px;
    text-align: center;
  }
  .overlay #banner .container .label {
    transform: translate(70px, -65px);
  }
  /* ACTION BAR */
  #action-bar {
    height: 328px;
  }
  #action-bar .container div {
    min-width: 150px;
  }
  #action-bar .container div p {
    width: 144px;
    height: 62px;
    font-size: 14px;
    text-align: left;
  }

  #action-bar .container {
    justify-content: space-evenly;
  }

  #action-bar .container div h1 {
    font-size: 18px;
    width: 82px;
    height: 18px;
    text-align: left;
  }
  /** MISSION BANNER  */
  #mission-banner {
    height: 1850px;
  }
  #mission-banner #container {
    height: 100%;
  }

  #mission-banner .container .label {
    margin: 40px auto;
  }

  #mission-banner .container .mission-text {
    margin: 48px auto;
    font-size: 22px;
    text-align: center;
  }
  #mission-banner #mission-container .posts-wrapper .postcard {
    width: 312px;
    height: 415px;
    margin: 38px;
  }
  #mission-banner #mission-container .posts-wrapper > div .img {
    width: 248px;
    transform: translate(32px, -28px);
    height: 176px;
  }
  #mission-banner #mission-container .postcard h1 {
    width: 282px;
    font-size: 16px;
    padding: 0 5px;
    text-align: center;
  }
  #mission-banner #mission-container .postcard .para {
    width: 242px;
    height: 94px;
    font-size: 14px;
    margin: 30px 10px;
    padding: 0;
    text-align: center;
  }
  #mission-banner #mission-container .postcard .btn {
    width: 152px;
    height: 40px;
    border-radius: 100px;
    transform: translate(50px, 80px);
  }

  #mission-banner .container .posts-wrapper {
    margin-top: 80px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #mission-banner .container h1 {
    font-size: 22px;
    width: 312px;
    height: 134px;
    margin-bottom: 150px;
  }

  #mission-banner .postcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #mission-banner .postcard .img {
    width: 288px;
    height: 201px;
  }

  #mission-banner .postcard h1 {
    width: 144px;
    height: 50px;
    margin: 12px 32px;
    padding-right: 0;
    height: 50px;
    text-align: left;
  }

  #mission-banner .postcard p {
    width: 246px;
    margin: auto;
    order: 4;
    transform: translate(30px, -90px);
    height: 112px;
    text-align: left;
    letter-spacing: -0.16px;
  }
  #mission-banner .postcard .btn {
    width: 156px;
    height: 40px;
    border-radius: 100px;
    transform: translateX(120px);
  }

  #didyouknow {
    height: 1048px;
    background: url('../img/mobile/Did\ you\ know\ background377x1008.png')
      center/cover no-repeat;
  }

  #didyouknow #dykcontainer .left h1 span {
    font-size: 44px;
  }
  #didyouknow #dykcontainer .left button {
    margin-bottom: 42px;
  }

  #didyouknow #dykcontainer .right .post {
    padding-left: 42px;
    margin-left: 10px;
    padding-bottom: 12px;
    width: 312px;
    height: 136px;
  }
  /*  */
  #didyouknow #dykcontainer .right .post > div h1 {
    font-size: 22px;
    width: fit-content;
    height: 22px;
  }

  #didyouknow #dykcontainer .right .post > div p {
    font-size: 14px;
    width: 198px;
    height: 34px;
  }

  #didyouknow .container {
    flex-direction: column;
    justify-content: space-around;
  }
  #didyouknow .container .left {
    align-self: center;
  }

  #didyouknow #dykcontainer .right .label {
    transform: translate(48px, -40px);
  }

  /* STORIES */
  #stories #stories-container .left .story-content h1 {
    width: 248px;
    height: 203px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 18px;
  }
  #stories #stories-container .right .label {
    left: 25%;
  }
  #stories #stories-container .left .story-content p {
    font-size: 11px;
    width: 248px;
    margin: 16px auto;
    text-align: center;
    height: 18px;
    padding: 0;
  }
  #stories {
    height: 1340px;
  }
  #stories #stories-container {
    overflow: auto;
    padding: 0;
    justify-content: center;
  }
  #stories #stories-container .left button {
    transform: translate(735px, 400px);
  }

  #stories #stories-container .right .story-img {
    width: 312px;
    height: 312px;
  }
  #stories #stories-container .right .story-img img {
    width: 100%;
    height: 100%;
  }
  #stories #stories-container .left .story-content {
    width: 312px;
    height: 296px;
    margin: 0;
    transform: translate(660px, 400px);
  }

  #take-actions {
    height: 2200px;
  }
  #take-actions .container > h1 {
    text-align: center;
    width: 312px;
    height: 186px;
    margin: 72px auto;
    font-size: 44px;
  }
  #take-actions .container .top {
    justify-content: center;
    align-items: center;
  }
  #take-actions .container .bottom {
    justify-content: center;
    align-items: center;
  }
  #take-actions .container .top .right h1 {
    height: 66px;
    width: 313px;
    margin: auto;
    font-size: 22px;
    text-align: center;
  }
  #take-actions .container .top .right p {
    width: 313px;
    height: 128px;
    margin: auto;
    font-size: 14px;
    text-align: center;
  }
  #take-actions .container .bottom .left h1 {
    width: 313px;
    height: 66px;
    margin: auto;
    font-size: 22px;
    text-align: center;
  }

  #take-actions .container .top .right .label {
    position: absolute;
    height: 40px;
    padding: 10px 0;
    z-index: 5;
    color: var(--secondary);
    background-color: var(--light);
    width: 160px;
    font-size: 14px;
    text-align: center;
    transform: translateY(-450px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #take-actions .container .bottom .left .label {
    position: absolute;
    height: 40px;
    padding: 10px 0;
    z-index: 5;
    color: var(--secondary);
    background-color: var(--light);
    width: 160px;
    font-size: 14px;
    text-align: center;
    transform: translateY(-450px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #take-actions .container .bottom .left p {
    width: 313px;
    height: 128px;
    margin: auto;
    font-size: 14px;
    text-align: center;
  }

  #take-actions .container .top {
    flex-direction: column;
  }
  #take-actions .container .bottom {
    flex-direction: column-reverse;
  }
  #take-actions .top .right button,
  #take-actions .bottom .left button {
    display: block;
    margin: 22px auto;
  }

  #take-actions .img {
    margin-top: 70px;
  }

  #subscribe .container {
    justify-content: center;
  }
  #subscribe {
    height: 216px;
  }

  #subscribe div h1 {
    height: 78px;
    width: 223px;
    text-align: center;
    margin: auto;
    font-size: 18px;
  }

  #foot {
    height: 600px;
  }

  #foot .container .logo h1 {
    width: 94px;
    font-size: 18px;
  }
  #foot .container .contact {
    width: 126px;
    font-size: 18px;
    height: 126px;
  }

  #foot .container .links {
    font-size: 14px;
    height: 126px;
  }
  #foot .container .slogan {
    width: 181px;
    font-size: 14px;
    height: 136px;
  }

  main .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .donation-nav {
    height: 80px;
  }
  .donation-nav h1 span {
    font-size: 1.15rem;
  }

  main {
    min-height: 985px;
  }
  main .wrapper {
    overflow: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  main .wrapper .slogan h1 {
    width: 312px;
    height: 106px;
  }

  main .wrapper .slogan span {
    font-size: 2rem;
    display: inline-block;
  }
  main .wrapper .form-section {
    margin: 0 auto;
    width: 312px;
    min-height: 816px;
  }
  main form h1.row-heading {
    font-size: 1.375rem;
    height: 27px;
  }
  main label {
    font-size: 0.6875rem;
  }
  div.row-7 {
    flex-direction: column-reverse;
    gap: 3em;
  }
  div.row-3 {
    gap: 1rem;
  }
  main label {
    font-size: 0.6rem;
  }
}
