/*? MISSION BANNER */

.mission-banner {
  height: 962px;
  background-color: var(--secondary);
}
.mission-banner .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mission-banner .posts-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mission-banner .container .label {
  cursor: pointer;
  width: 160px;
  height: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
  letter-spacing: 0.56px;
  font-size: 14px;
  background-color: var(--light);
  padding: 10px 0;
  text-align: center;
  color: var(--secondary);
}

.mission-banner .container > h1 {
  height: 140px;
  font-size: 42px;
  color: var(--light);
  margin-bottom: 80px;
}
.mission-banner .container .posts-wrapper > div {
  background-color: var(--light);
  width: 320px;
  margin: 0 32px;
  height: 528px;
}

.mission-banner .container .posts-wrapper > div .img {
  z-index: 100;
  transform: translate(10%, -15%);
}

.mission-banner .postcard {
  display: flex;
  flex-direction: column;
}

.mission-banner .postcard h1,
.mission-banner .postcard p,
.mission-banner .postcard .btn {
  padding: 0px 32px;
}
.mission-banner .postcard h1 {
  width: 288px;
  height: 70px;
  text-align: left;
  color: var(--secondary);
}
.mission-banner .postcard p {
  width: 256px;
  height: 144px;
  text-align: left;
  padding-bottom: 32px;
  letter-spacing: -0.16px;
  color: var(--secondary);
}
.mission-banner .postcard .btn {
  width: 160px;
  height: 48px;
  text-align: center;
  padding: 10px;
  margin-left: 32px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--secondary);
}
