/* ?NAVBAR */

.navbar {
  height: 128px;
  background-color: var(--light);
  color: var(--secondary);
}

.navbar ul {
  display: flex;
  min-width: 380px;
}
.navbar ul a {
  padding: 20px;
  letter-spacing: -0.16px;
  font-size: 16px;
}

.navbar .container {
  overflow: hidden;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar h1 {
  font-family: 22px;
  font-weight: bold;
}
