.stories {
  position: relative;
  height: 824px;
  background-color: var(--light);
}

.stories .left > div {
  width: 544px;
  height: 344px;
  background-color: var(--secondary);
}

.stories .left > div h1 {
  width: 466px;
  height: 196px;
  color: var(--light);
  font-size: 28px;
  padding: 52px 0px 0px 62px;
}

.stories .left > div p {
  width: 400px;
  height: 14px;
  color: var(--light);
  margin-top: 80px;
  padding-left: 62px;
  font-size: 14px;
  letter-spacing: 0.56px;
  font-weight: lighter;
}

.stories .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.stories .left {
  width: 544px;
  height: 344px;
  transform: translateX(-100%);
  position: absolute;
  z-index: 1;
}
.stories .container .right {
  position: relative;
}

.stories .container .right .label {
  position: absolute;
  top: -3%;
  left: 7%;
  height: 40px;
  padding: 10px 0;
  color: var(--light);
  background-color: var(--secondary);
  width: 160px;
  font-size: 14px;
  text-align: center;
}

.stories button {
  margin-top: 32px;
  width: 160px;
  height: 48px;
  border: none;
  cursor: pointer;
  padding: 13px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--secondary);
}
