.subscribe {
  height: 208px;
  background-color: var(--primary);
}

.subscribe h1 {
  width: 544px;
  font-size: 28px;
  color: var(--secondary);
  height: 70px;
}
.subscribe .container {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}
.subscribe input[type='email'] {
  width: 352px;
  height: 48px;
  font-size: 18px;
  outline: none;
  border: none;
  opacity: 1;
  padding: 0 12px;
  border-radius: 100px;
}

.subscribe button {
  width: 160px;
  height: 48px;
  font-size: 28px;
  line-height: 1.3;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 100px;
  color: var(--primary);
  background-color: var(--secondary);
}
