.take-actions {
  height: 1726px;
  background: var(--secondary);
}
.take-actions .container {
  overflow: hidden;
  margin-bottom: auto;
}
.take-actions .container .top {
  display: flex;
  margin-bottom: 90px;
  justify-content: center;
}
.take-actions .container .bottom {
  display: flex;
  justify-content: center;
}

.take-actions .container .top .left {
  flex: 1;
  position: relative;
}
.take-actions .container .top .right {
  width: 448px;
}

#take-actions .container .right .label {
  margin-bottom: 80px;
}

.take-actions .container .bottom .left {
  width: 448px;
}
.take-actions .container .bottom .right {
  position: relative;
  flex: 1;
}
.take-actions .container > h1 {
  margin: 128px 0px;
  font-family: flood-std, sans-serif;
  font-size: 72px;
  font-weight: 400;
  color: var(--light);
  width: 847px;
  height: 148px;
}

.take-actions .container .label {
  cursor: pointer;
  width: 160px;
  height: 40px;
  letter-spacing: 0.56px;
  font-size: 14px;
  background-color: var(--light);
  padding: 10px 0;
  text-align: center;
  color: var(--secondary);
}

.take-actions .container .bottom .left h1 {
  width: 352px;
  color: var(--light);
  height: 165px;
  font-size: 44px;
  margin-top: 90px;
}

.take-actions .container .bottom .left p {
  width: 448px;
  height: 154px;
  color: var(--light);
  font-size: 20px;
}

.take-actions .container .top .right h1 {
  width: 352px;
  color: var(--light);
  height: 165px;
  font-size: 44px;
}

.take-actions .container .top .right p {
  width: 448px;
  height: 154px;
  color: var(--light);
  font-size: 20px;
}

.take-actions button {
  width: 160px;
  height: 48px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--secondary);
}
