/* UTILITIES */

/* OVERLAY */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* REUSED BUTTON */
.navbar .container div a {
  width: 160px;
  height: 48px;
  padding: 13px;
  font-weight: bold;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--secondary);
}

/* REUSED CONTAINER*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 18px;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
